.icon
{
    position: relative;
    width: 32px;
    height: 32px;
    float: left;
    display: inline;
}
.icon::after
{
    content: "\00a0";
    width: 100%;
    height: 100%;
    float: left;
    background-color: black;
    -webkit-mask-size: 100% 100%;
}

.icon-book::after { -webkit-mask-image: url(../img/icons/book.png); }
.icon-cursor-empty::after { -webkit-mask-image: url(../img/icons/cursor-empty.png); }
.icon-cursor::after { -webkit-mask-image: url(../img/icons/cursor.png); }
.icon-dude::after { -webkit-mask-image: url(../img/icons/dude.png); }
.icon-entity::after { -webkit-mask-image: url(../img/icons/entity.png); }
.icon-eye-closed::after { -webkit-mask-image: url(../img/icons/eye-closed.png); }
.icon-eye-open::after { -webkit-mask-image: url(../img/icons/eye-open.png); }
.icon-eyedropper::after { -webkit-mask-image: url(../img/icons/eyedropper.png); }
.icon-floodfill::after { -webkit-mask-image: url(../img/icons/floodfill.png); }
.icon-folder-closed::after { -webkit-mask-image: url(../img/icons/folder-closed.png); }
.icon-folder-open::after { -webkit-mask-image: url(../img/icons/folder-open.png); }
.icon-folder-dot-closed::after { -webkit-mask-image: url(../img/icons/folder-dot-closed.png); }
.icon-folder-dot-open::after { -webkit-mask-image: url(../img/icons/folder-dot-open.png); }
.icon-folder-star-closed::after { -webkit-mask-image: url(../img/icons/folder-star-closed.png); }
.icon-folder-star-open::after { -webkit-mask-image: url(../img/icons/folder-star-open.png); }
.icon-folder-broken::after { -webkit-mask-image: url(../img/icons/folder-broken.png); }
.icon-gear::after { -webkit-mask-image: url(../img/icons/gear.png); }
.icon-image::after { -webkit-mask-image: url(../img/icons/image.png); }
.icon-layer-grid::after { -webkit-mask-image: url(../img/icons/layer-grid.png); }
.icon-layer-tiles::after { -webkit-mask-image: url(../img/icons/layer-tiles.png); }
.icon-layers-clear::after { -webkit-mask-image: url(../img/icons/layers-clear.png); }
.icon-layers-solid::after { -webkit-mask-image: url(../img/icons/layers-solid.png); }
.icon-line::after { -webkit-mask-image: url(../img/icons/line.png); }
.icon-minus::after { -webkit-mask-image: url(../img/icons/minus.png); }
.icon-move::after { -webkit-mask-image: url(../img/icons/move.png); }
.icon-no::after { -webkit-mask-image: url(../img/icons/no.png); }
.icon-ogmo::after { -webkit-mask-image: url(../img/icons/ogmo.png); }
.icon-pencil::after { -webkit-mask-image: url(../img/icons/pencil.png); }
.icon-plus::after { -webkit-mask-image: url(../img/icons/plus.png); }
.icon-radio-off::after { -webkit-mask-image: url(../img/icons/radio-off.png); }
.icon-radio-on::after { -webkit-mask-image: url(../img/icons/radio-on.png); }
.icon-save::after { -webkit-mask-image: url(../img/icons/save.png); }
.icon-sliders::after { -webkit-mask-image: url(../img/icons/sliders.png); }
.icon-sparkle::after { -webkit-mask-image: url(../img/icons/sparkle.png); }
.icon-square::after { -webkit-mask-image: url(../img/icons/square.png); }
.icon-star::after { -webkit-mask-image: url(../img/icons/star.png); }
.icon-trash::after { -webkit-mask-image: url(../img/icons/trash.png); }
.icon-yes::after { -webkit-mask-image: url(../img/icons/yes.png); }
.icon-undo::after { -webkit-mask-image: url(../img/icons/undo.png); }
.icon-redo::after { -webkit-mask-image: url(../img/icons/redo.png); }
.icon-new-file::after { -webkit-mask-image: url(../img/icons/new-file.png); }
.icon-magnify-glass::after { -webkit-mask-image: url(../img/icons/magnify-glass.png); }
.icon-warning::after { -webkit-mask-image: url(../img/icons/warning.png); }
.icon-level-on::after { -webkit-mask-image: url(../img/icons/level-on.png); }
.icon-level-off::after { -webkit-mask-image: url(../img/icons/level-off.png); }
.icon-level-broken::after { -webkit-mask-image: url(../img/icons/level-broken.png); }
.icon-entity-create::after { -webkit-mask-image: url(../img/icons/entity-create.png); }
.icon-entity-selection::after { -webkit-mask-image: url(../img/icons/entity-selection.png); }
.icon-entity-scale::after { -webkit-mask-image: url(../img/icons/entity-scale.png); }
.icon-entity-rotate::after { -webkit-mask-image: url(../img/icons/entity-rotate.png); }
.icon-entity-nodes::after { -webkit-mask-image: url(../img/icons/entity-nodes.png); }
.icon-decal-scale::after { -webkit-mask-image: url(../img/icons/entity-scale.png); }
.icon-decal-rotate::after { -webkit-mask-image: url(../img/icons/entity-rotate.png); }
.icon-value-bool::after { -webkit-mask-image: url(../img/icons/value-bool.png); }
.icon-value-color::after { -webkit-mask-image: url(../img/icons/value-color.png); }
.icon-value-enum::after { -webkit-mask-image: url(../img/icons/value-enum.png); }
.icon-value-float::after { -webkit-mask-image: url(../img/icons/value-float.png); }
.icon-value-int::after { -webkit-mask-image: url(../img/icons/value-int.png); }
.icon-value-text::after { -webkit-mask-image: url(../img/icons/value-text.png); }
.icon-value-string::after { -webkit-mask-image: url(../img/icons/value-string.png); }
.icon-tile-selection::after { -webkit-mask-image: url(../img/icons/entity-selection.png); }
.icon-grid-selection::after { -webkit-mask-image: url(../img/icons/entity-selection.png); }
.icon-autotile-pencil::after { -webkit-mask-image: url(../img/icons/autotile-pencil.png); }
