
/* scrollbar settings */
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: none; }
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	border: 2px solid #fff;
	background: #aaa;
	transition: background 0.25s;
	cursor: default;
}
::-webkit-scrollbar-thumb:hover { background: #333; cursor: pointer; }

input, select, textarea
{
	float: left;
	width: 100%;
	height: 34px;
	padding: 8px;
	box-sizing: border-box;

	font-weight: bold;
	font-family: consolas;
	font-size: 1.0em;
	color: #111;
	background: #eee;
	border: 1px solid #aaa;
	border-radius: 2px;
}
select { height: 36px; max-width: 200px; font-size: 0.9em; }
select:focus
{
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
}
input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
input[type="color"]::-webkit-color-swatch { border: none; }
input.default-value { color: #888; }

textarea { height: 120px; resize: none; }

textarea, input, button, select { font-family: inherit; }

.searchbar
{
    padding: 10px;
    height: 32px;

    &_icon
    {
        width: 20px;
        height: 20px;
        padding: 6px;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 4px 0 0 4px;
        float: left;
    }
    &_icon::after { background-color: #666; }

    &_field
    {
        width: calc(100% - 47px);
        height: 20px;
        padding: 6px;
        border-left: 0;
        box-sizing: content-box;
        border-radius: 0 4px 4px 0;
        float: left;
    }

    &-nobottom { padding-bottom: 0; }
    &-nobottom &_icon, &-nobottom &_field
    {
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.color-box
{
	width: 48px;
	height: 48px;
	float: left;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px #aaa;
	border-radius: 2px;
	background: url("../img/transparent.png");
	cursor: pointer;
}
.color-box div { width: 100%; height: 100%; border-radius: 2px; }

/* normal buttons */
.button
{
    background: #eee;
    background: linear-gradient(#fff, #f0f0f0);
	border-radius: 2px;
    padding: 5px 12px 4px 12px;
    height: 36px;
	border: 1px solid #aaa;
    box-sizing: border-box;
	color: #444;
	cursor: pointer;
	transition: background 0.25s, color 0.25s, border 0.25s;
    float: left;
    text-align: center;

    &_icon
    {
        margin-left: -12px;
        float: none;
        display: inline-block;
        transition: border 0.25s;
    }

    &_icon::after
    {
        display: inline-block;
        float: none;
        width: 24px;
        height: 24px;
        background-color: #444;
        transition: background-color 0.25s;
    }

    &_text
    {
        display: inline-block;
        line-height: 24px;
        vertical-align: middle;
    }

    &-squarebottom
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:hover, &:focus
    {
        font-weight: bold;
        color: #000;
        border: 1px solid #000;
    }
    &:hover &_icon, &:focus &_icon { }
    &:hover &_icon::after, &:focus &_icon::after { background-color: #000; }

    &.important
    {
        box-shadow: 0 0 8px rgba(27, 170, 88, 0.75);
    }
}

.checkbox
{
    opacity: 0.5;
    transition: opacity 0.2s;
    &:hover, &.icon-radio-on { opacity: 1; cursor: pointer; }
}

.filepath
{
	width: 100%;
	float: left;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;

	> input 
	{ 
		flex: 1; 
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		height: 36px;
	}
	> .button:not(:last-child)
	{
		border-radius: 0;
		border-right: 0;
	}
	> .button:last-child
	{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}