.itemlist
{
    width: 100%;
    float: left;
    font-size: 0.8em;
    overflow-x: auto;
    overflow-y: visible;

    &_element
    {
        position: relative;
        width: 100%;
        float: left;
        overflow-y: visible;
    }

    &_dragpoint
    {
        position: relative;
        width: 100%;
        height: 4px;
        margin-top: -1px;
        margin-bottom: -3px;
        background: #aaa;
        float: left;
        z-index: 100;
    }

    &_title
    {
        position: relative;
        padding: 2px 8px 2px 8px;
        width: 100%;
        height: 24px;
        float: left;
        cursor: pointer;
        color: #666;
        box-sizing: border-box;
        font-weight: 300;
        transition: color 0.2s, background 0.2s, border 0.2s;

        &:hover { background: #eee; }
    }

    &_icon
    {
        position: absolute;
        width: 18px;
        height: 18px;
        float: left;

        .icon { width: 100%; height: 100%; }
        .icon::after { background-color: #666; }
        img { width: 100%; height: 100%; float: left;  }
    }

    &_label
    {
        margin-left: 28px;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 16px;
        white-space: nowrap;
        float: left;
    }

    &_folderContent
    {
        width: 100%;
        display: none;
        float: left;
    }

    &_element.highlighted > &_title
    {
        background: #aac6f1 !important;
        color: #000;
    }
    &_element.highlighted > &_icon .icon::after { background-color: #000; }

    &_element.selected > &_title
    {
        background: #e28fa3 !important;
        font-weight: bold;
        color: #000;
    }
    &_element.selected &_icon .icon::after { background-color: #000; }

    &_element.expanded > .itemlist_folderContent
    {
        display: block;
    }
}

/* this is ugly terrible stuff, but I want the elements to be the full length as the embed */
.itemlist .itemlist_folderContent
{
    .itemlist_title { padding-left: 16px; }
    & .itemlist_folderContent
    {
        .itemlist_title { padding-left: 32px; }
        & .itemlist_folderContent
        {
            .itemlist_title { padding-left: 48px; }
            & .itemlist_folderContent
            {
                .itemlist_title { padding-left: 64px; }
                & .itemlist_folderContent
                {
                    .itemlist_title { padding-left: 80px; }
                }
            }
        }
    }
}
