.project
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;

    &_left
    {
        width: 190px;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        background: #222;
    }

    &_tabs
    {
        width: 100%;
        height: 100%;
        float: left;
        flex: 1;
        font-size: 0.9em;
        color: #aaa;

        & .tab
        {
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            float: left;
        }

        & .tab .icon
        {
            float: left;
        }
        
        & .tab .icon:after { background-color: #aaa; }

        & .tab span
        {
            margin: 6px 0 0 10px;
            float: left;
        }

        & .tab:hover
        {
            background: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        & .tab.selected
        {
            background: #000;
            font-weight: bold;
            color: #fff;
        }
        & .tab.selected .icon:after { background-color: #fff; }
    }

    &_buttons
    {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        float: left;

        & .button { width: 100%; float: left;}
        & .button:first-child { margin-bottom: 4%; }
    }

    &_content
    {
        flex: 1;
        // max-width: 816px;
        height: 100%;
        box-sizing: border-box;
        overflow-y: auto;
    }

    &_panel
    {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: auto;
    }
}

.project_general_panel { padding-top: 10px; }

.project_entities_list
{
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    background: #eee;
    border-right: 1px solid #aaa;
    float: left;

    & .button
    {
        width: calc(100% - 20px);
        margin: 10px 10px 0 10px;
    }

    & .list
    {
        width: 100%;
        height: calc(100% - 50px);
        flex: 1;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;

        & .searchbar
        {
            margin: 10px;
            padding: 0;
        }

        & .entityList
        {
            width: 100%;
            border-top: 1px solid #aaa;
            flex: 1;
            overflow-y: auto;
            margin: 0;
            
            & .itemlist_title:hover { background: #ccc; }
        }
    }
}

.project_entities_inspector
{
    width: calc(100% - 200px);
    height: 100%;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
    float: right;
    overflow-y: auto;
    border-right: 1px solid #ddd;

    & .texture
    {
        width: 70px;
        height: 70px;
        display: block;
        float: left;
        margin: 4px;
        background: url("../img/transparent.png");
        opacity: 0.60;
        border: 2px solid #fff;
        box-sizing: border-box;

        & img 
        {
            max-width: 100%;
            max-height: 100%;
            image-rendering: pixelated;
            -webkit-image-rendering: pixelated;
        }
    }
}

.valuetemplates
{
    width: 100%;
    height: 300px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    float: left;

    &_title
    {
        text-align: center;
        font-size: 0.85em;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 0;
    }

    &_manager
    {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #ddd;
        box-sizing: border-box;
    }

    &_buttons
    {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        & > .button { width: 100%; }
    }

    &_list
    {
        width: 100%;
        flex: 1;
        overflow-y: auto;
        & .itemlist { overflow-y: hidden; padding-bottom: 4px; }
    }

    &_inspector
    {
        flex: 1;
        height: 100%;
        overflow-y: scroll;
        padding: 20px 10px 10px 10px;
        box-sizing: border-box;
    }
}

.vector
{
    width: 100%;
    max-width: 300px;
    & input { width: 47%; }
    & input:first-child { margin-right: 6%; }
}


.project_layers_panel { overflow: hidden; }

.project_layers_list
{
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    background: #eee;
    border-right: 1px solid #aaa;
    float: left;

    & .buttons
    {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #aaa;
        float: left;
        
        & .button { width: 100%; }
    }

    & .itemlist
    {
        width: 100%;
        height: calc(100% - 50px);
        flex: 1;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;

        & .itemlist_title:hover { background: #ccc; }
    }
}

.project_layers_inspector
{
    width: calc(100% - 200px);
    height: 100%;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
    float: right;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    
    & .gridlayer-legend-list
    {
        width: 100%;
        float: left;
    }
    
    & .gridlayer-legend-item
    {
        float: left;
        width: 80px;
        height: 112px;
        margin: 8px;
        position: relative;
        
        & .color-box
        {
            width: 80px;
            height: 80px;
            border: 1px solid #000;
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none !important;   
            box-sizing: border-box;
        }
        
        & input
        {
            border: 1px solid #000;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            text-align: center;
        }
        
        & .trash
        {
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            padding: 4px;
            background: #000;
            border-radius: 0 0 0 4px;
            cursor: pointer;
            &:after { background: #fff; }
            &:hover:after { background: #ff0000; }
        }
    }
}

.project_tilesets_panel { overflow: hidden; }

.project_tiles_list
{
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    background: #eee;
    border-right: 1px solid #aaa;
    float: left;

    & .buttons
    {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #aaa;
        float: left;
		
        & .button { width: 100%; }
    }

    & .itemlist
    {
        width: 100%;
        height: calc(100% - 50px);
        flex: 1;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;

        & .itemlist_title:hover { background: #ccc; }
    }
}

.project_tiles_inspector
{
    width: calc(100% - 200px);
    height: 100%;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
    float: right;
	overflow: hidden;
    border-right: 1px solid #ddd;
	
	& .project_tiles_tileset
	{
		width: 100%;
		height: calc(100% - 140px);
		padding: 20px;
		box-sizing: border-box;
		overflow: scroll;
		
		& canvas { border: 1px solid #fff; box-shadow: 0 0 1px #000; }
	}
}