.start
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    &_inner
    {
    	position: absolute;
    	top: 50%;
    	left: 50%;
        width: 500px;
    	transform: translateX(-50%) translateY(-50%);
    }

    &_logo
    {
        width: 100%;
        display: block;
        margin: auto;
    }
    &_logo img { width: 100%; }

    &_content
    {
        float: left;
        width: 90%;
        margin: 0 5% 0 5%;
    }

    &_menu
    {
        width: 100%;
        margin: 30px 0 0 0;
        float: left;

        > .button { width: 48%; }
        > .button:first-child { margin-right: 4%; }
    }

    &_info
    {
        position: absolute;
        left: 32px;
        bottom: 32px;
        color: #aaa;
        cursor: default;
        float: left;
        font-size: 0.9em;
        text-transform: uppercase;
    }

    &_recents
    {
        width: 48%;
        max-height: 120px;
        overflow-y: auto;
        border: 1px solid #aaa;
        border-top: 0;
        border-radius: 0 0 2px 2px;
        cursor: default;
        box-sizing: border-box;
        float: right;

        & .recent_option
        {
            cursor: pointer;
            text-decoration: underline;
            color: red;
        }

        & .recent_option:hover
        {
            color: orange;
        }
    }
}
